---------------------------------------------------------------------------------------------------------
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Libre Baskerville', serif;
}

html {
  scroll-behavior: smooth;
}

/*inicio header*/
.header {
  background: #f1f1f1;
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header nav {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header li {
  list-style: none;
  margin: 5px;
}

.header a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.header a:hover {
  color: royalblue;
}

.header__titulo {
  text-align: center;
}

.ul__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*fin header*/
/*Inicio Index*/
/*div*/
.div__index {
  background-image: url(imagenes_biancaneve/main_imagen1.jpg);
  height: 50vh;
  width: 97%vw;
  background-size: cover;
  background-position: center;
}

.figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.figure .div__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px;
  color: black;
}

.figure .div__figure div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.figure .div__figure div h2 {
  color: black;
}

.div__imagenes__index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50;
  background-color: #f1f1f1;
}

.imagen__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.imagen__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.section__envios {
  text-align: center;
  font-size: 32px;
  background-color: #f1f1f1;
  height: 160px;
  color: black;
}

.section__envios div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__envios div img {
  margin-left: 20px;
}

/*section*/
.section__noticias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid #f1f1f1 3px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #313131;
  color: white;
  grid-area: noticias;
}

/*modificacion general*/
.article__a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.article__a .article__a:hover {
  color: royalblue;
}

#carouselExampleCaptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 250px;
}

.section__carrusel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section2__carrusel {
  height: 250px;
  font-style: italic 18px;
  background: #313131;
  text-align: center;
  color: white;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .div__card {
  height: 280px;
}

.footer .footer__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.footer .footer__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*FIN INDEX*/
/*inicio pagina 1*/
.nav__ayuda {
  text-align: center;
}

.nav__ayuda ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__ayuda li {
  list-style: none;
  margin: 5px;
  margin-bottom: 10px;
}

.nav__ayuda a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.nav__ayuda a:hover {
  color: royalblue;
}

.h2__ayuda {
  text-align: center;
  background-color: #f1f1f1;
}

.div__ayuda {
  background-image: url(imagenes_biancaneve/main_pagina1.jpg);
  height: 50vh;
  width: 97%vw;
  background-size: cover;
  background-position: center;
}

.div__ayuda2 {
  background-image: url(imagenes_biancaneve/main3_pagina1.jpg);
  height: 55vh;
  width: 98,2vw;
  background-size: cover;
  background-position: center;
}

.section__ayuda {
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.section__ayuda2 {
  border-top: solid black 2px;
  background-color: #f1f1f1;
}

textarea {
  height: 50px;
  width: 400px;
  resize: none;
}

/*fin pagina 1*/
/*inicio pagina 2*/
.boton__menuCatalogo {
  background-color: #f1f1f1;
}

.div__catalogo {
  background-image: url(imagenes_biancaneve/main2_pagina2.jpg);
  height: 50vh;
  background-size: cover;
  background-position: center;
  font-size: 35px;
  text-align: center;
}

.div__catalogo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.div__catalogo4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  background-color: #f1f1f1;
}

.section__catalogo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__catalogo li {
  list-style: none;
  margin-bottom: 20px;
}

.div__section__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div__section__catalogo div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.div__section__catalogo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.div__section__catalogo li {
  margin-left: 40px;
}

.div__imagen1__catalogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__catalogo2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
}

.section__catalogo2 div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section__catalogo2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section__catalogo2 li {
  list-style: none;
  margin-left: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.div__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
}

.div__productos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.div__productos li {
  list-style: none;
  margin-left: 30px;
  margin-top: 30px;
}

.div__productos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__catalogo {
  text-align: center;
  background-color: #f1f1f1;
}

.nav__catalogo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__catalogo li {
  list-style: none;
  margin: 5px;
  margin-bottom: 10px;
}

.nav__catalogo a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.nav__catalogo a:hover {
  color: royalblue;
}

/*fin pagina 2*/
/*inicio pagina 3*/
.section__biancaneve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
}

.section__biancaneve2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
}

.article__biancaneve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.article__biancaneve2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.section__biancaneve__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
}

.section__biancaneve__ul .nav__biancaneve {
  font-size: 22px;
}

.section__biancaneve__ul .nav__biancaneve ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__biancaneve__ul .nav__biancaneve li {
  list-style: none;
  margin: 5px;
}

.section__biancaneve__ul .nav__biancaneve a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.section__biancaneve__ul .nav__biancaneve a:hover {
  color: royalblue;
}

.h2__biancaneve {
  text-align: center;
  text-transform: capitalize;
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px;
}

.h3__biancaneve {
  text-align: center;
  text-transform: capitalize;
  background-color: #f1f1f1;
}

.div__biancaneve2 {
  background-image: url(imagenes_biancaneve/main_biancaneve2.jpg);
  background-size: cover;
  height: 75vh;
  width: 98,5vw;
  background-position: center;
}

.div__biancaneve3 {
  background-image: url(imagenes_biancaneve/main_biancaneve3.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  width: 98,5vw;
}

.div__biancaneve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
}

/*Fin pagina 3*/
/*Inicio pagina 4*/
.section__fundadores1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
}

.article__fundadores1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.div__fundadores1 {
  background-image: url(imagenes_biancaneve/main__fundadores1.jpg);
  height: 80vh;
  width: 98,5vw;
  background-position: center;
  background-size: cover;
}

.div__fundadores3 {
  background-image: url(imagenes_biancaneve/main__fundadores2.jpg);
  height: 50vh;
  width: 98,5vw;
  background-position: center;
  background-size: cover;
}

.div__fundadores2 {
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.h3__fundadores {
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  background-color: #f1f1f1;
}

.section__fundadores2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  background-color: #f1f1f1;
}

.section__fundadores2 .nav__fundadores ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.section__fundadores2 .nav__fundadores li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 5px;
}

.section__fundadores2 .nav__fundadores a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.section__fundadores2 .nav__fundadores a:hover {
  color: royalblue;
}

/* fin pagina 4*/
/*inicio pagina 5*/
.div__mision1 {
  background-image: url(imagenes_biancaneve/main__mision1.jpg);
  height: 70vh;
  width: 98,5vw;
  background-position: center;
  background-size: cover;
}

.div__mision2 {
  background-image: url(imagenes_biancaneve/main__mision2.jpg);
  height: 70vh;
  width: 98,5vw;
  background-position: center;
  background-size: cover;
}

.section__mision1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f1f1f1;
}

.article__mision {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
  text-align: center;
  font-size: 18px;
}

.section__mision2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__mision2 nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: capitalize;
  font-size: 22px;
}

.section__mision2 nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 5px;
}

.section__mision2 nav a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
}

.section__mision2 nav a:hover {
  color: royalblue;
}

@media screen and (max-width: 480px) {
  * {
    padding: 0px;
    margin: 0px;
  }
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .imagen__1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imagen__1 img {
    height: 400px;
    width: 250px;
  }
  .imagen__2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .imagen__2 img {
    height: 500px;
    width: 250px;
  }
  .div__index {
    width: 100%;
  }
  .figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  .footer .footer__div2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .footer__div2 div {
    margin-top: 10px;
  }
  /*fin index*/
  /*inicio pagina biancaneve*/
  .div__biancaneve {
    width: 97,5vw;
  }
  .div__biancaneve2 {
    width: 97,5vw;
  }
  .div__biancaneve3 {
    width: 97,5vw;
  }
  .imagen__biancaneve {
    width: 400px;
  }
  .imagen__biancaneve2 {
    width: 400px;
  }
  .h1__biancaneve {
    width: auto;
  }
  .h3__biancaneve {
    width: auto;
  }
  .section__biancaneve {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    border: 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  .section__biancaneve2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border: 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    border: 0px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
  }
  /*catalogo*/
  .section__catalogo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .div__section__catalogo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div__section__catalogo ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div__section__catalogo li {
    margin-left: 0px;
  }
  .section__catalogo2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section__catalogo2 ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div__productos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div__productos ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .div__productos li {
    margin-top: 20px;
    margin-left: 0px;
  }
  .div__catalogo__p {
    padding: 0px;
    padding-left: 100px;
  }
}
/*# sourceMappingURL=pagina.css.map */