---------------------------------------------------------------------------------------------------------
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Libre Baskerville', serif;
    }
html{
    scroll-behavior: smooth;
}
           
    /*inicio header*/
  .header{ 
            background:rgb(241, 241, 241);
            color:rgb(37, 37, 37);
            display: flex;
            flex-direction: column;
            nav{
                font-size: 22px;
              display: flex; 
              justify-content: right;
              align-content: center;
            }
            li{
                list-style: none; 
                margin: 5px;
            }
            a{
                text-decoration: none; 
                  color: black;
                  text-transform: capitalize;
            }
            a:hover{ 
                color:royalblue;
            }

            }
  
  .header__titulo{
      text-align:center;
}
  
  .ul__index{
              
              display: flex;
              flex-direction: row;
  }
              
  /*fin header*/
  /*Inicio Index*/
  
  /*div*/
  .div__index{
              background-image: url(imagenes_biancaneve/main_imagen1.jpg);
              height: 50vh;
              width: 97%vw; 
              background-size: cover;
              background-position: center;
             }
.figure{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 241, 241);
    justify-content: center;

.div__figure{
        display: flex;
        flex-direction: column;
        margin: 50px;
        color: black;
        div{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            h2{
                color: black;
            }
        }
    }
}

.div__imagenes__index{
                        display: flex;
                        flex-direction: column;
                        margin: 50;
                        background-color: rgb(241, 241, 241);
                        }
.imagen__1{
            display: flex ;
            flex-direction: row;
            justify-content: center;
            margin: 20px;
}
.imagen__2{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 20px;
}

.section__envios{
                text-align: center;
                font-size: 32px;
                background-color: rgb(241, 241, 241);
                height: 160px;
                color: black;
                div{
                    display: flex;
                    justify-content: center;
                    img{
                        margin-left: 20px;
                    }
                }
}

  
  /*section*/
  .section__noticias{ 
                      display: flex;
                      border: solid rgb(241, 241, 241) 3px;
                      justify-content: center;
                      background-color: rgb(49, 49, 49); 
                      color: rgb(255, 255, 255);
                      grid-area: noticias;}  
  
  /*modificacion general*/
  .article__a{
              text-decoration: none; 
              color: rgb(255, 255, 255);
              font-size: 15px;
  
            .article__a:hover{
                            color: royalblue;}
                }
  
#carouselExampleCaptions{
            display: flex;
            justify-content: center;
            align-content: center;
            height: 250px;
}       

.section__carrusel{
                div{

                    display: flex;
                    flex-direction: row;
                }
}

  .section2__carrusel{
        height: 250px;
        font-style: italic 18px;
        background:rgb(49, 49, 49); 
        text-align: center;
        color: rgb(255, 255, 255);
      }



  .footer{
          display: flex;    
          background: rgb(241, 241, 241);
          flex-direction: column; 
          .div__card{
              height: 280px;
          }
          .footer__div1{
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              }
          
          .footer__div2{
              display: flex;
              flex-direction: row;
              justify-content: space-around;
          }
  }
  
  /*FIN INDEX*/
  
  /*inicio pagina 1*/
  .nav__ayuda{
                text-align: center;
              
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                                            }

                li{ 
                    list-style: none; 
                    margin: 5px; 
                    margin-bottom: 10px;
                                        }
                      
                a{    
                    text-decoration: none; 
                    color: black;
                    text-transform: capitalize;
                                                }

                a:hover{ 
                        color: royalblue;
                                             }
                                                    }

  
  .h2__ayuda{ 
              text-align: center;
              background-color: rgb(241, 241, 241);
            }
  
  .div__ayuda{background-image: url(imagenes_biancaneve/main_pagina1.jpg);
              height: 50vh;
              width: 97%vw; 
              background-size: cover;
              background-position: center;}
  
  .div__ayuda2{  background-image: url(imagenes_biancaneve/main3_pagina1.jpg);
                  height: 55vh;
                  width: 98,2vw; 
                  background-size: cover;
                  background-position: center;}
  
  
  
  .section__ayuda{ 
                   background-color: rgb(241, 241, 241);
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-content: center;
                  }
  .section__ayuda2{
                  border-top: solid black 2px;
                  background-color: rgb(241, 241, 241);
  }
  
  textarea {height: 50px;
            width: 400px;
            resize: none;}
  
  /*fin pagina 1*/
  
  /*inicio pagina 2*/
    .boton__menuCatalogo{
                        background-color: rgb(241, 241, 241);
    }

    .div__catalogo{ background-image: url(imagenes_biancaneve/main2_pagina2.jpg);
                   height: 50vh;
                   background-size: cover;
                   background-position:center;
                   font-size: 35px;
                   text-align: center;
                   }
     
    .div__catalogo2{
                    display: flex;
                    flex-direction: column;                
                    background-color: rgb(241, 241, 241);
                    align-items: center;
                    padding-bottom: 20px;
                                                }

    .div__catalogo4{
                    display: flex;                
                    background-color: rgb(241, 241, 241);
                    justify-content: center;
                }
  
  .section__catalogo{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom:60px;
                        background-color: rgb(241, 241, 241);
                        
                        ul{
                            display: flex;
                        }
                        li{
                            list-style: none;
                            margin-bottom: 20px;
                        }
                    }
  
  .div__section__catalogo{ 
                      display: flex;
                      flex-direction:row;
                      align-items: center;
                                        
                      div{
                          display: flex;
                          flex-direction: column;
                      }
                        ul{
                            display: flex;
                            justify-content: space-between;
                      }
                        li{
                            margin-left:40px;
                        }
                    }
  
  .div__imagen1__catalogo{
                          display: flex;
                          justify-content: center;
                          flex-direction: column;
  }
  
  .section__catalogo2{  
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        background-color: rgb(241, 241, 241);
                        div{
                            display: flex;
                            flex-direction: column;
                        }

                        ul{
                            display: flex;
                        }
                        li{
                            list-style: none;
                            margin-left: 20px;
                            margin-bottom: 30px;
                            margin-top: 30px;
                        }
                    }
    
   .div__productos{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    background-color:rgb(241, 241, 241);
                    ul{
                        display: flex;
                    }
                    li{
                        list-style: none;
                        margin-left: 30px;
                        margin-top: 30px;
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                    }
    }

    .nav__catalogo{
            text-align: center;
            background-color: rgb(241, 241, 241) ;
            ul{
                display: flex;
                flex-direction: row;
                justify-content: center;
                                        }

            li{ 
                list-style: none; 
                margin: 5px; 
                margin-bottom: 10px;
                                     }
              
             a{    
                text-decoration: none; 
                color: black;
                text-transform: capitalize;
                                            }

            a:hover{ 
                    color: royalblue;
                                        }
    }

  /*fin pagina 2*/
  
  /*inicio pagina 3*/
  
  .section__biancaneve{   
                          display: flex;
                          flex-direction: row;
                          background-color:rgb(241, 241, 241) ;
                      }
  
  .section__biancaneve2{   
                          display: flex;
                          flex-direction: row;
                          background-color:rgb(241, 241, 241) ;
                      }
  
  .article__biancaneve{   
                          display: flex;   
                          flex-direction: column;
                          text-align: center;
                      }
  
  .article__biancaneve2{   
                          display: flex;   
                          flex-direction: column;
                          text-align: center;
                      }
          
  .section__biancaneve__ul{ 
                            display:flex;
                            justify-content: center;
                            background-color:rgb(241, 241, 241);
                         
                          .nav__biancaneve{   
                                            font-size: 22px;
      
                                            ul{
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                                    }
                          
                                            li{ 
                                                
                                                list-style: none; 
                                                margin: 5px; 
                                                                    }
              
                                            a {    
                                                text-decoration: none; 
                                                color: black;
                                                text-transform: capitalize;
                                                                            }
                                            a:hover{ 
                                                        color: royalblue;
                                                                            }
                                                                                }                      
                                                                                    }
                         
  .h2__biancaneve{
                  text-align: center;
                  text-transform: capitalize;
                  background-color:rgb(241, 241, 241);
                  padding-top: 40px;
                  padding-bottom: 40px;
  }
  
  .h3__biancaneve{
                  text-align: center;
                  text-transform: capitalize;
                  background-color:rgb(241, 241, 241);
                  }      
                  


  
  .div__biancaneve2{ 
                      background-image: url(imagenes_biancaneve/main_biancaneve2.jpg);
                      background-size: cover;
                      height: 75vh;
                      width: 98,5vw;
                      background-position: center;
                      }
  
  
  .div__biancaneve3{
                      background-image: url(imagenes_biancaneve/main_biancaneve3.jpg);
                      background-position: center;
                      background-size: cover;
                      height: 75vh;
                      width: 98,5vw;
                    }
              
  .div__biancaneve{
                    display: flex;
                    justify-content: center;
                    background-color:rgb(241, 241, 241) ;
                    }
  /*Fin pagina 3*/
  
  /*Inicio pagina 4*/
  .section__fundadores1{
                        display: flex;
                        background-color:rgb(241, 241, 241) ;
                        }
  .article__fundadores1{ 
                        display: flex;
                        flex-direction: column;
                        text-align: center;}
  
  .div__fundadores1{ 
                    background-image: url(imagenes_biancaneve/main__fundadores1.jpg);
                      height: 80vh;
                      width: 98,5vw;
                      background-position: center;
                      background-size:cover;}
  
  .div__fundadores3{ 
                    background-image: url(imagenes_biancaneve/main__fundadores2.jpg);
                      height: 50vh;
                      width: 98,5vw;
                      background-position: center;
                      background-size: cover;}
  
  .div__fundadores2{ 
                   background-color: rgb(241, 241, 241) ;
                   display: flex;
                   justify-content: center;
                    }
  
  .h3__fundadores{    
                    text-align: center;
                      text-transform: capitalize;
                      font-size: 22px;
                      background-color:rgb(241, 241, 241) ;}
                      
 .section__fundadores2{   
                        display:flex;
                        justify-content: center;
                        font-size: 22px;
                        background-color:rgb(241, 241, 241);

                        .nav__fundadores{  
                                
                                        ul{
                                            display: flex;
                                            flex-direction: row;
                                                                }
  
                                        li{ 
                                            display:flex; 
                                            list-style: none; 
                                            margin: 5px; 
                                                                }
                                        a{ 
                                            text-decoration: none; 
                                            color: black;
                                            text-transform: capitalize;
                                                                        }
                                        a:hover{
                                                color: royalblue;
                                                                    }

                                                                        }
                                                                            }
  /* fin pagina 4*/
  
  /*inicio pagina 5*/
  
  .div__mision1{ 
                background-image: url(imagenes_biancaneve/main__mision1.jpg);
                  height: 70vh;
                  width: 98,5vw;
                  background-position: center;
                  background-size: cover;}
  
  .div__mision2{ 
                background-image: url(imagenes_biancaneve/main__mision2.jpg);
                  height: 70vh;
                  width: 98,5vw;
                  background-position: center;
                  background-size: cover;}
  
  
  .section__mision1{  
                display: flex;
                      flex-direction: row;
                      background-color:rgb(241, 241, 241);
                      }
  .article__mision{   
                display: flex;
                      flex-direction: column;
                      padding-top: 50px;
                      text-align: center;
                      font-size: 18px;}
  
  .section__mision2{  
                        display: flex;
                        flex-direction: column;
                        background-color:rgb(241, 241, 241);
                        text-align: center;
                        justify-content: center;
                     
                        nav{

                            ul{    
                                display: flex;
                                flex-direction: row;
                                justify-content: center;
                                text-transform: capitalize;
                                font-size: 22px;}
                  
                            li{ 
                                display:flex; 
                                list-style: none; 
                                margin: 5px; 
                                            }
                            a{ 
                                text-decoration: none; 
                                color: black;
                                text-transform: capitalize;
                                                            }
                            a:hover{
                                        color: royalblue;
                                                            }
  
                                                                }
                                                                    }
  
  
  @media screen and (max-width: 480px) {
                                          *{
                                              padding: 0px;
                                              margin: 0px;
                                          }
                                          .header{
                                                      justify-content: center;
                                                      width: 100%;
                                          }

                                          .imagen__1{
                                              display: flex;
                                              flex-direction: column;
                                              margin: 0px;
                                              align-items: center;
                                              img{
                                                  height: 400px;
                                                  width: 250px;
                                              }
                                          }

                                        .imagen__2{
                                            display: flex;
                                            flex-direction: column;
                                            align-items: center;
                                            img{
                                                height: 500px;
                                                width: 250px;
                                            }
                                        }

                                          .div__index{
                                                      width: 100%;
                                          }                                        
                                        
                                          .figure{
                                              display: flex;
                                              flex-direction: column;
                                          }

                                          .footer{
                                                  flex-direction: column;

                                                  border: 0px;
                                                  border-top:3px solid white ;
                                                  border-bottom:3px solid white ;
                                                  .footer__div2{
                                                      display: flex;
                                                      flex-direction: column;
                                                      div{
                                                        margin-top: 10px;
                                                      }
                                                  }
                                              }

                                      
                                          /*fin index*/
                                      
                                          /*inicio pagina biancaneve*/
                                          .div__biancaneve{
                                                              width: 97,5vw;
                                                           }
  
                                          .div__biancaneve2{
                                                              width: 97,5vw;
                                          }      
  
                                          .div__biancaneve3{
                                                              width: 97,5vw;
                                          }
                                          
                                          .imagen__biancaneve{
                                                              width: 400px;
                                          }
                                         
                                          .imagen__biancaneve2{
                                                               width: 400px;
                                          }
                                          
                                          .h1__biancaneve{
                                                          width: auto;
                                          }
  
                                          .h3__biancaneve{
                                                          width: auto;
                                          }
  
                                          .section__biancaneve{
                                                flex-direction: column;
                                                justify-content: center;
                                                align-content: center;
                                                border: 0px;
                                                border-top:3px solid white ;
                                                border-bottom:3px solid white ;  
                                                          }
                                          .section__biancaneve2{
                                                flex-direction: column;
                                                text-align: center;
                                                border: 0px;
                                                border-top:3px solid white ;
                                                border-bottom:3px solid white ;  
                                                              }
                                          .footer{
                                          flex-direction: column;
                                          align-content: center;
                                          border: 0px;
                                          border-top:3px solid white ;
                                          border-bottom:3px solid white ;
                                                                  }   
                                          
                                          /*catalogo*/
                                          .section__catalogo{
                                              flex-direction: column;
                                              border-top:3px solid white ;
                                              border-bottom:3px solid white ; 
                                              justify-content: center;
                                              align-content: center;
                                          }
                                          .div__section__catalogo{
                                                
                                            align-items: center;
                                              ul{
                                                  display: flex;
                                                  flex-direction: column;
                                              }
                                              li{
                                                  margin-left: 0px;
                                              }
                                          }

  
                                          .section__catalogo2{  
                                              justify-content: center;
                                              ul{
                                                  display: flex;
                                                  flex-direction: column;
                                              }
                                          }

                                          .div__productos{
                                              justify-content:center;
                                              ul{
                                                  display: flex;
                                                  flex-direction: column;
                                              }
                                              li{
                                                  margin-top: 20px;
                                                  margin-left: 0px;
                                              }
                                          }
  
                                          .div__catalogo__p{
                                              padding: 0px;
                                              padding-left: 100px;
                                          }
                                      }